.navbaritem:hover{
    background:black;
    font-size: x-large;
}
.navbaritem:active
{
    background-color: green;
    color:yellow;

}
.navbaritem{
    font-size: larger;
    color:yellow;
    /* margin-left: 0.1%;
    margin-right: 0.1%; */
}